html {
	box-sizing: border-box;
	height: 100%;
    display: table;
    margin: auto;
}

*, *:before, *:after {
	box-sizing: inherit;
}



element.style {
	display: flex;
	list-style: none;
}

body {
	font-family: "Montserrat", sans-serif;
	vertical-align: middle;
	display: table-cell;
}

.header {
	background: #F8F6F7;
	background-image: url(images/fon.png);
	width: 1440px;
	height: 591px;
}

.header-top {
	margin-bottom: 120px;
	display: flex;
	max-width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 0px;
}

.container {
	max-width: 1110px;
	height: 430px;
	margin-top: 30px;
	margin-left: 165px;
	position: relative;
}

.girl {	
	position: relative;
	width: 524px;
	height: 510px;

}	

.girl img {
	display: block;
	position: relative;
	right: 60px;
	bottom: 0;
	z-index: 0;
}

.girl::before {
	content: "";
	width: 472px;
	height: 472px;
	border-radius: 50%;
	background-color: #FB9475;
	position: absolute;
	bottom: 0;
	right: 0;
}

.logo {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #333;	
	font-weight: bold;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #00BF78;
}



.navigation ul {
	display: flex;
	flex-basis: content;
	list-style: none;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.navigation li:not(:last-child) {
	margin-right: 30px;
}

.phone-info {
	text-align: right;
	line-height: 14px;
}

.number {
	font-weight: 500;
	font-size: 18px;
}

.timework {
	font-weight: 400;
	font-size: 11px;
	margin-top: 8px;
}

.slogan {
	width: 540px;
	Height: 118px;
}

h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
}

p {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 59px;
}

button {
	background: #FB9475;
	border-radius: 24px;
	border: none;
	width: 203px;
	height: 48px;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	transition-duration: 0.4s;
}
button:hover {
	background-color: #f3a68e; /* Green */
}

.description {
	width: 1109px;
	height: 387.31px;
	margin-left: 166px;
	margin-top: 100px;
}

.description-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	align-items: flex-start;
	align-content: space-between;
	width: 569.54px;
	height: 359.97px;
	margin: 0;
	color: #333333;

}

.title-name {
	width: 239.65px;
	height: 59.16px;
	position: absolute;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 59px;

}

.mir-krasoty {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
}

.krasota {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.description-video {
	width: 445px;
	height: 296.33px;

}

.footer {
	width: 1140px;
	height: 78px;
}

.page-footer.fixed-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}


