html {
	height: 100%;
}
*, *:before, *:after {
box-sizing: border-box
}
body {
	font-family: "Montserrat", sans-serif;
	min-width: 320px;
}
h4, h5, h6 {
	margin: 0;
}
.header {
	background-image: url(images/fon.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	margin: 0 auto;
	position: relative;
	max-width: 1110px;
}
.header__top {
	display: flex;
	margin-bottom: 120px;
	max-width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0 0px;
}
.logo {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #333;	
	text-decoration: none;
}
.header__navigation {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 14px;
}
.navigation__list {
	display: flex;
	flex-basis: content;
	list-style: none;
}
.navigation__item:not(:last-child) {
	margin-right: 30px;
}
.navigation__link {
	text-decoration: none;
	color: #333;
}
.navigation__link:hover {
	color: #00BF78;
}
.header__phone {
	display: flex;
	flex-direction: column;
	text-align: right;
	line-height: 14px;
}
.phone-info__tel {
	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 18px;
	line-height: 14px;
}
.phone-info__tel:hover {
	color: #00BF78;
}
.phone-info__time {
	font-weight: 400;
	font-size: 11px;
	margin-top: 8px;
}
.hero__box {
	width: 540px;
}
.header__hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 80px;
	position: relative;
}
.hero__title {
	font-size: 48px;
	line-height: 59px;
}
.hero__subtitle {
	font-size: 20px;
	margin-bottom: 59px;
}
.btn {
	background: #FB9475;
	border-radius: 24px;
	border: none;
	font-weight: 500px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	transition-duration: 0.4s;
	height: 48px;
	display: inline-block;
	padding: 17px 30px;
}
.btn:hover {
	background-color: #f3a68e;
}
.header__girl{
	position: absolute;
	bottom: 0;
	right: 50px;
	overflow: hidden;
}
.header__girl-img{
	display: block;
	position: relative;
	bottom: 0;
	z-index: 1;
}
.header__girl::before{
	content: "";
	width: 472px;
	height: 472px;
	border-radius: 50%;
	background-color: #FB9475;
	position: absolute;
	bottom: -110px;
	right: 15px;
	z-index: 0;
}
.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.social__item {
	list-style-type: none;
}
.social--vertical {
	flex-direction: column;
}
.social__item-icon:not(:last-child){
	margin-bottom: 16px;
}
.section__title {
	margin-top: 100px;
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
}
.about__description {
	display: flex;
	justify-content: space-between;
}
.about__description-text {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}
.about__description-text--text1 {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
.about__description-text--text2 {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.about__description-video {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
}
.about__description-video--img {
	max-width: 445px;
	max-height: 296px;
	border-radius: 10px;
}
.button-play {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 1;
}
.button-play__icon {
	max-height: 61px;
}
.button-play__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #FFF;
	margin: 0;
}
.advantages {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	gap: 30px;
}
.advantages__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
}
.advantages__img {
	max-height: 48px;
}
.advantages__title {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.advantages__text {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}
.service-card {
	display: flex;
	flex-flow: row wrap;
	gap: 30px;
}
.service-card__info {
	width: 350px;
}
.service-card__img {
	max-width: 350px;
	border-radius: 10px;
}
.service-card__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.service-card__descr {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}
.prices__navigation {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
.prices__navigation-list {
	padding: 0;
}
.price {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 350px;
	column-gap: 50px;
}
.price__box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 32px;
	width: 444px;
}
.price__name-service {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}
.price__name-specific {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	margin-top: 8px;
}
.price__cost-rub {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #00BF78;
	margin: 0;
}
.section--gray{
	background-color: #F8F6F7;
	padding-bottom: 80px;
}
.masters-logo__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}
.card {
	display: flex;
	justify-content: space-between;
}
.masters-card__img {
	border-radius: 8px;
	max-height: 300px;
}
.masters-card__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin-top: 15px;
}
.masters-card__post {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-top: 8px;
}
.masters-card__exp {
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	margin-top: 20px;
}
.footer {
	width: 100%;
	margin: 0 auto;	
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
.more {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-inner--blue {
	color: #278AFF;
	text-decoration: underline;
}
.navigation__item {
	font-size: 12px;
}

@media print {
}
@media screen (min-width: 500px) and (max-width: 700px) {
}
/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
	body {
		width: fit-content;
		padding: 0 30px;
	}
} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) {
	.header__girl {
		opacity: 0.4;
	}
	.hero__box {
		width: 100%;
	}
	.header__hero{
		display: block;
		width: 100%;
		text-align: center;
	}
} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
	.header-top{
		flex-direction: column;
	}
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
	.header__girl {
		display: none;
	}
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}