@media print {/**/}

/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
	body {
		width: fit-content;
		padding: 0 30px;
	}
} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) {
	.header__girl {
		opacity: 0.4;
	}
	.hero__box {
		width: 100%;
	}
	.header__hero{
		display: block;
		width: 100%;
		text-align: center;
	}
} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
	.header-top{
		flex-direction: column;
	}
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
	.header__girl {
		display: none;
	}
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) {/**/}
